#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <5>; 
        rows = <6>;
        // | K0  | K1  | K2  | K3  |
        // | K10 | K11 | K12 | K13 |
        // | K20 | K21 | K22 | K23 |
        // | K30 | K31 | K32 | K33 | ENB1 |
        // | K40 | K41 | K42 | K43 | KE1  |
        // | K50 | K51 | K52 | K53 | KE2  |

        map = <
        RC(0,0)  RC(0,1)  RC(0,2)  RC(0,3) 
        RC(1,0)  RC(1,1)  RC(1,2)  RC(1,3) 
        RC(2,0)  RC(2,1)  RC(2,2)  RC(2,3) 
        RC(3,0)  RC(3,1)  RC(3,2)  RC(3,3)  RC(3,4)
        RC(4,0)  RC(4,1)  RC(4,2)  RC(4,3)  RC(4,4)
        RC(5,0)  RC(5,1)  RC(5,2)  RC(5,3)  RC(5,4) 
        >;

    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

        col-gpios
            = <&pro_micro 16 GPIO_ACTIVE_HIGH>
            , <&pro_micro 15 GPIO_ACTIVE_HIGH>
            , <&pro_micro 14 GPIO_ACTIVE_HIGH>
            , <&pro_micro 13 GPIO_ACTIVE_HIGH>
            , <&pro_micro 17 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 12 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };

    left_encoder: encoder_left {
        compatible = "alps,ec11";
        label = "LEFT_ENCODER";
        a-gpios = <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        resolution = <4>;
    };

    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder>;
    };
};

&left_encoder {
    status = "okay";
};

&pro_micro_i2c {
    status = "okay";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        label = "OLED0";
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-remap;
        com-invdir;
        com-sequential;
        prechargep = <0x22>;
    };
};
